<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjy.mapper.AnnouncementMapper">

    <resultMap id="BaseResultMap" type="com.sjy.entity.Announcement">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="year" column="year" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,time,
        year
    </sql>
</mapper>
